/* footer styling */

.copy {
  color: black !important;
  text-align: center;
  font-size: 18px;
  font-family: verdana;
  padding: 5px;
}
.svg {
  color: rgb(248, 26, 92);
  transition: 1.5s;
  width: 1.3em;
  transition: 2s;
}

.f-spacing {
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid red 2px;
}

.copy:hover .svg {
  transform: rotate(360deg);
}
